/* estilos para footer */ 
/* tengo 4 colores alternativos, los tengo anotados para no perder los valores rgb*/
footer{
    /* background-color: rgba(46, 58, 114, 1); azul marino*/
    /* background-color: rgba(37, 190, 245, 1); turquesa*/
    /* background-color: rgba(167, 86, 17, 1); dorado oscuro*/
    background-color: rgba(255, 203, 47, 1);
}
footer p{
    color: black;
    font-family: Evogria;
    @extend %dflex;
}