
.navbarJdarg{
    @extend %dflex;
    background-color: rgba(37, 190, 245, 1);
    font-family: long-shot;
    font-weight: 300px;
    letter-spacing: .2px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding: 10px;
}

.btnNavbarJdarg{
 background-color: rgba(37, 190, 245, 1);
}

.btnNavbarJdarg:hover{
    background-color: rgba(46, 58, 114, 1);
    border-radius: 4%;
    transition: all 0.8s;
    color: white;
}